@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}

/* Shared styles */
.disply-flex{
    display: flex;
}
.text-highlight{
    color: #FF900E;
}
main > section {
    margin: 130px 0;
}
/* Dark01 */
.text-black{
    color: #131313;
}
/* Dark02 */
.text-gray{
    color: #424242;
}
/* Dark03 */
.text-light-gray{
    color: #727272;
}
/* primary button */
.btn-primary{
    background-color: #FF900E;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* backgraound */
.bg-light{
    background-color: #FF900E1A;
}


/* Header styles */


/* Nav bar styles */
.nav-bar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.brand{
    font-weight: 700;
    font-size: 2.5rem;
}
.nav-item{
    list-style: none;
    margin-right: 50px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
/* Banner section styles */
.banner-content{
    max-width: 855px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-discription{
    font-size: 1rem;
    margin: 32px 0;
}
.banner-image{
    width: 100%;
}
/* teamds and features style */
.teams{
    margin-top: 85px;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features-container{
    margin-left: 130px;
    max-width: 540px;
}

#quick-list{
    font-weight: 500;
}
.features-discription{
    font-size: 1rem;
    margin: 24px 0 32px 0;
}


/* Some facts styles */

.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
    justify-items: center;
}
.fact-card{
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.fact-discription{
    max-width: 540px;
    margin-top: 24px;
}
.fact-value{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}
/* Our Sponspors section styles */
.our-sponspors{
    text-align: center;
}
.sponspores-companies{
    margin: 50px 0 130px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.sponser-discription{
    margin-top: 24px;
}
.sponspores-companies img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}


/* Responsive media query */
@media screen and (max-width: 576px) {
    .nav-bar, 
    .nav-links,
    .teams {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .team-img-container,
    .sponspores-companies {
        grid-template-columns: repeat(1, 1fr);
    }
    .features-container{
        margin-left: 10px;
    }
    .fact-container{
        grid-template-columns: 1fr;
        justify-items: center;
        margin-left: 0;
        gap: 24px;
    }
    .fact-title,
    .fact-discription{
        text-align: center;
    }
    .sponspores-companies{
        gap: 50px;
    }
}

/* Medium device style  */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;

    }
    .features-container{
        margin: 50px auto;
    }
    .sponspores-companies,
    .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}